---

---

<header class="sticky top-0 z-50 shadow-xl">
  <div class="bg-teal-700 text-teal-50 border-b-2 border-teal-50">
    <nav class="flex items-center justify-between gap-2 p-4 mx-auto max-w-7xl">
      <a href="/" class="flex items-center space-x-2">
        <img
          src={`/logos/logo-asonorterx.png`}
          alt="Logo Asociación Nortesantandereana de Radiología"
          class="transition-transform max-h-12 hover:scale-105 drop-shadow-lg"
        />
        <span class="text-xs font-semibold md:text-sm hover:underline">
          Asociación Nortesantandereana de Radiología
        </span>
      </a>
      <ul
        class="flex flex-col sm:flex-row text-xs font-semibold md:text-sm text-right justify-end gap-2 md:gap-6"
      >
        <li><a href="#speakers" class="hover:underline">Conferencistas</a></li>
        <li><a href="#schedule" class="hover:underline">Programación</a></li>
      </ul>
    </nav>
  </div>
</header>
