---
import Menu from "@/assets/svg/menu.svg";
---

<header class="sticky top-0 z-50 shadow-xl">
  <div class="bg-teal-700 border-b-2 text-teal-50 border-teal-50">
    <nav class="flex items-center justify-between gap-2 p-4 mx-auto max-w-7xl">
      <a href="/" class="z-20 flex items-center flex-1 gap-2">
        <img
          src={`/logos/logo-asonorterx.png`}
          alt="Logo Asociación Nortesantandereana de Radiología"
          class="transition-transform max-h-12 hover:scale-105 drop-shadow-lg"
        />
        <span class="text-xs font-semibold md:text-sm hover:underline">
          Asociación Nortesantandereana de Radiología
        </span>
      </a>
      <button
        id="menu-toggle"
        class="z-20 p-2 transition-colors bg-teal-500 rounded-full cursor-pointer hover:bg-teal-600 md:hidden size-12 hover:text-teal-700"
        ><Menu id="menu-icon" /></button
      >
      <ul
        id="menu"
        data-menu-state="closed"
        class:list={[
          "flex flex-col fixed right-0 top-0 w-[50%] gap-4 p-4 text-xs font-semibold text-right bg-teal-700 opacity-0 hover z-10 h-dvh justify-center flex-0 translate-x-full",
          "md:flex md:flex-row md:w-full md:h-auto md:inset-0 md:items-center md:justify-end md:text-sm md:gap-6 md:opacity-100 md:static md:transform-none md:translate-x-0!",
        ]}
      >
        <li><a href="#speakers" class="hover:underline">Conferencistas</a></li>
        <li><a href="#schedule" class="hover:underline">Programación</a></li>
        <li>
          <a href="#inscriptions" class="hover:underline">Inscripciones</a>
        </li>
        <li><a href="#sponsors" class="hover:underline">Patrocinadores</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .open-menu {
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    pointer-events: auto;
    opacity: 1;
  }
  .close-menu {
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");

    setTimeout(() => {
      menuToggle!.addEventListener("click", () => {
        if (menu!.getAttribute("data-menu-state") === "closed") {
          menu!.classList.add("open-menu");
          menu!.classList.remove("close-menu");
          menu!.setAttribute("data-menu-state", "open");
        } else {
          menu!.classList.remove("open-menu");
          menu!.classList.add("close-menu");
          menu!.setAttribute("data-menu-state", "closed");
        }
      });
    }, 200);

    window.addEventListener("resize", (e) => {
      if (window.innerWidth >= 768) {
        menu!.classList.remove("open-menu");
        menu!.classList.remove("close-menu");
        menu!.setAttribute("data-menu-state", "closed");
      }
    });
  });
</script>
