---
import Container from "@/components/Container.astro";
import Typography from "@/components/Typography.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Container
    title="Página no encontrada"
    titleAs="h1"
    class:list="flex flex-col gap-4 md:min-h-[80dvh]"
  >
    <Typography
      as="p"
      variant="p"
      color="primary"
      class="font-medium text-center"
    >
      Lo sentimos, la página que estás buscando no existe.
    </Typography>
    <img
      src="/title-banner.png"
      alt="Título del evento"
      class="w-full max-w-full"
    />
    <a
      href="/"
      class="mx-auto mt-4 text-center w-fit transition-colors bg-teal-700 hover:bg-teal-800 text-white font-semibold py-2 px-4 rounded"
    >
      Volver a la página principal
    </a>
  </Container>
</Layout>
