---
import Container from "@/components/Container.astro";
import Typography from "@/components/Typography.astro";
import Layout from "@/layouts/Layout.astro";

/* Sections */
import Hero from "@/components/Home/Hero.astro";
import About from "@/components/Home/About.astro";
import Speakers from "@/components/Home/Speakers.astro";
import Program from "@/components/Home/Program.astro";
import Inscriptions from "@/components/Home/Inscriptions.astro";
import City from "@/components/Home/City.astro";
import Sponsors from "@/components/Home/Sponsors.astro";
---

<Layout>
  <div class="bg-white">
    <Hero />
  </div>

  <div class="bg-gray-100">
    <About />
  </div>

  <div id="speakers" class="bg-white">
    <Speakers />
  </div>

  <div id="program" class="bg-gray-100">
    <Program />
  </div>

  <div id="inscriptions" class="bg-white">
    <Inscriptions />
  </div>

  <div id="" class="bg-gray-100">
    <City />
  </div>

  <div id="sponsors" class="bg-white">
    <Sponsors />
  </div>
</Layout>
