---
import Container from "@/components/Container.astro";
---

<Container
  title="Auspiciadores"
  titleAs="h2"
  titleVariant="h2"
  class:list="flex flex-col gap-4 prose"
>
  <div class="flex flex-wrap justify-center gap-4 md:gap-8 items-center">
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/somediag.png"}
      alt="LOGO SOMEDIAG"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/heidy-portilla.jpeg"}
      alt="LOGO DRA.HEIDY PORTILLA"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/cidim.png"}
      alt="LOGO CIDIM"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/petct.png"}
      alt="LOGO PETCT"
    />
    <img
      class="max-w-full h-20 md:h-28"
      src={"/logos/solmedicas.jpeg"}
      alt="LOGO SOLUCIONES MÉDICAS"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/vivemed.png"}
      alt="LOGO VIVEMED"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/hotel-casino.png"}
      alt="LOGO HOTEL CASINO INTERNACIONAL"
    />
    <img
      class="max-w-full h-12 md:h-16"
      src={"/logos/ecoimagen.png"}
      alt="LOGO ECOIMAGEN"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/ivan-penaranda.jpeg"}
      alt="LOGO DR. IVAN PEÑARANDA"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/elaser.png"}
      alt="LOGO ELASER"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/transalim.jpeg"}
      alt="LOGO TRANSALIM"
    />
    <img
      class="max-w-full h-16 md:h-24"
      src={"/logos/rodriguez-radiologos.png"}
      alt="LOGO RODRIGUEZ RADIÓLOGOS"
    />
  </div>
</Container>
