---
interface Props {
  columns: string[];
  data: string[][];
  color?: "neutral" | "teal" | "blue" | "gray";
  mobileCollapse?: "scroll" | "fit";
}

const colorVariants = {
  neutral: {
    head: "dark:bg-neutral-800 dark:text-neutral-100 bg-neutral-300 text-neutral-900",
    divider: "dark:divide-neutral-800 divide-neutral-400",
    row: "dark:bg-neutral-700 text-neutral-200 bg-neutral-200 text-neutral-800",
  },
  gray: {
    head: "dark:bg-gray-900 dark:text-gray-100 bg-gray-300 text-gray-900",
    divider: "dark:divide-gray-700 divide-gray-200",
    row: "dark:bg-gray-800 dark:text-gray-200 bg-gray-200 text-gray-800",
  },
  teal: {
    head: "dark:bg-teal-950 dark:text-teal-50 bg-teal-300 text-teal-950",
    divider: "dark:divide-teal-700 divide-teal-300",
    row: "dark:bg-teal-900 dark:text-teal-50 bg-teal-100 text-teal-900",
  },
  blue: {
    head: "dark:bg-blue-950 dark:text-blue-50 bg-blue-300 text-blue-950",
    divider: "dark:divide-blue-950 divide-blue-300",
    row: "dark:bg-blue-900 dark:text-blue-50 bg-blue-100 text-blue-900",
  },
};

const {
  columns,
  data,
  color = "neutral",
  mobileCollapse = "fit",
} = Astro.props;
---

<div class="relative overflow-x-auto rounded">
  <table
    class:list={[
      "text-xs md:text-md text-left",
      colorVariants[color].head,
      mobileCollapse === "scroll" ? "w-full" : "w-fit sm:w-full",
    ]}
  >
    <thead
      class:list={[
        "font-medium tracking-wide uppercase",
        colorVariants[color].head,
      ]}
    >
      <tr>
        {
          columns.map((column) => (
            <th scope="col" class="p-2 md:px-6 md:py-3">
              {column}
            </th>
          ))
        }
      </tr>
    </thead>

    <tbody class:list={["divide-y", colorVariants[color].divider]}>
      {
        data.map((item) => (
          <tr class:list={["", colorVariants[color].row]}>
            <th
              scope="row"
              class:list={[
                "p-2 md:px-6 md:py-4 font-bold",
                mobileCollapse === "scroll"
                  ? "w-full  whitespace-nowrap"
                  : "w-fit",
              ]}
            >
              {item[0]}
            </th>
            {item.slice(1).map((value) => (
              <td class="p-2 md:px-6 md:py-4">{value}</td>
            ))}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
