---
import "@/styles/global.css";
import { Font } from "astro:assets";

import Header from "@/components/Layout/Header.astro";
import Footer from "@/components/Layout/Footer.astro";
import BackToTop from "@/components/BackToTop.astro";

interface Props {
  title?: string;
  description?: string;
}
const {
  title = "XV Simposio Internacional Nortesantandereano de Radiología",
  description = "Programación e información adicional del XV Simposio Internacional Nortesantandereano de Radiología - Estudios IMagenológicos Huérfanos, celebrado los días 11 y 12 de septiembre de 2026, en el Hotel Casino Internacional, Cúcuta, Colombia.",
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />

    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-dm-serif-display" preload />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="overflow-x-hidden bg-gray-100 text-teal-950">
    <Header />
    <slot />
    <Footer />
    <BackToTop />
  </body>
</html>

<style is:global>
  body {
    font-family: var(--font-inter), system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  .font-serif {
    font-family: var(--font-dm-serif-display), serif;
  }
</style>
